
/*@media (min-width: 280px) and (max-width: 854px) {

    body {
        font-size: 30px;
        width: 100%;
    }*/

    /*div#comp-lpk324zg, #comp-lpk30biy {
        display: none !important;
    }*/

  /*  [data-mesh-id=comp-lpq5rmg4inlineContent-gridContainer] > [id="comp-lpk7ie2l"] {
        margin: 19px 0px 18px calc((100% - 880px)* 0.5);
    }

    .button-whats{
        margin-left: 0  !important;
    }

    .whats-svg{
        width: 50px;
        height: 50px;
    }

    #comp-lpq5rmfl{
        margin-left: 0;
        min-width: 100% !important;
    }

    div#masterPage {
        max-width: 565px;
        min-width: 100%;
    }

    .BmZ5pC{
        min-width: 100% !important;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jn8ubdat"] {
        margin: 177px 4px -4px calc((100% - 610px)* 0.5);
    }

    #comp-lpq5rmg4{
        width: 100% !important;
        max-width: 100%;
        --bg-overlay-color: none !important;
    }

    #SITE_HEADER {
        position: relative !important;
    }

    body:not(.responsive) #site-root,
    #comp-lpq24kxi,
    #comp-jn7v1czg
    {
        min-width: 100% !important;
    }

    :host(:not(.device-mobile-optimized)) .V5AUxf, body:not(.device-mobile-optimized) .V5AUxf {
        width: 100% !important;
    }

    body:not(.device-mobile-optimized) .G5K6X8 {
        width: 100% !important;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jn8ubdat"] {
        left: 0 !important;
    }

    body:not(.device-mobile-optimized) .PFkO7r {
        width: 100% !important;
    }

    :host(:not(.device-mobile-optimized)) .vlM3HR, body:not(.device-mobile-optimized) .vlM3HR {
        width: 100% !important;
    }

    #comp-lpk77xaq6, #comp-lpq354l6, #comp-lpq36aq6,
    #comp-jn4fg4j1, #comp-lrgofabt, #comp-lpk3at6l,
    #comp-lpk77xas, #comp-jacinqk9, #comp-jn7v1czg,
    #comp-lpk7ie2l, #comp-lpq24kxi, #comp-jnk23dtp,
    #comp-jn7v1czg
    {
        width: 100% !important;
    }

    .photo-5{
        width: 80% !important;
        height: 40% !important;
    }

    #comp-jn8ubdat {
        margin-left: 3% !important;
    }

    #comp-lpk7ie2l {
        margin-left: 16%;
    }

    #comp-jncwu0q7{
        margin-left: 0;
    }

    .title-2{
        font-size: 30px !important;
        line-height: 2.0rem;
    }

    [data-mesh-id=comp-lpk2nmvb-rotated-wrapper] {
        margin: -62px 0px 1px calc((100% - 350px)* 0.5) !important;
    }

    #comp-lpk2h3of{
        margin: -45px 0px 10px calc((100% - 351px)* 0.5) !important;
        left: 0;
        opacity: 0.8;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jnk23dtp"] {
        /*left: 0 !important;*/
       /* margin: 52px 0px 65px calc((100% - 400px)* 0.5) !important;
    }

    h3.font_3.wixui-rich-text__text {
        margin-left: 13px;
        font-weight: bold;
    }

    #comp-lpk2dyq1 {
        width: 110% !important;
        height: 80% !important;
        opacity: 0.5;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk2dyq1"] {
        left: 0 !important;
        margin: 35px 0px -118px calc((100% - 832px)* 0.5);
    }

    button.neon-button.floating-button {
        width: 50% !important;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jn4fg4j1"] {
        margin: -100px 0px 0px calc((100% - 400px)* 0.5) !important;
        left: 0 !important;
    }

    p.font_8.wixui-rich-text__text {
        margin-left: 10px;
    }

    [data-mesh-id="comp-lrgiigx9-rotated-wrapper"] > [id="comp-lrgiigx9"] {
        left: 600px !important;
        top: 10% !important;
    }

    .lifetime-access span{
        left: 50%;
    }

    [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
        margin: 50px 0px 47px calc((100% - 355px)* 0.5) !important;
        left: 0 !important;
    }

    [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq354l6"] {
        margin: 0px 0px 15px calc((100% - 395px)* 0.5) !important;
        left: 0 !important;
    }

    [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq36aq6"] {
        margin: 0px 0px 15px calc((100% - 395px)* 0.5) !important;
        left: 0 !important;
    }

    button.neon-button {
        width: 70%;
        margin-left: 15%;
    }

    [data-mesh-id=comp-lrgofaaoinlineContent-gridContainer] > [id="comp-lrgofabt"] {
        margin: 40px 0px 40px calc((100% - 400px)* 0.5) !important;
        left: 0 !important;
    }

    .video-fanny {
        margin-left: 5% !important;
        height: 170% !important;
        width: 90% !important;
    }

    .video-testimunhal{
        margin-left: 5% !important;
        width: 90% !important;
        height: 35% !important;
    }

    img.d-block {
        margin-left: 0 !important;
    }

    #carouselExampleControls {
        margin-top: 50%;
    }

    [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xaq6"] {
        margin: 30px 0px 30px calc((100% - 410px)* 0.5) !important;
    }

    [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xas"] {
        left: 0 !important;
        margin: 0px 0px 10px calc((100% - 395px)* 0.5) !important;
    }

    .card{
        width: 90% !important;
    }

    .title-testimunhal{
        padding-top: 5% !important;
        margin-left: 0.5% !important;
        margin-right: 0.5% !important;
        font-size: 25px;    
    }
 
    footer#SITE_FOOTER_WRAPPER {
        margin-top: 35%;
    }

    h2.font_0.wixui-rich-text__text {
        font-size: 30px !important;
    }

    #comp-jn8tuavv {
        margin-top: 5% !important;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jacinqk9"] {
        margin: -25px 0px 0px calc((100% - 400px)* 0.5) !important;
        left: 0 !important;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-lpk6z812"] {
        margin: 240px 0px 0px calc((100% - 355px)* 0.5) !important;
    }

    #comp-lpk6z812 {
        height: auto !important;
    }

    .logo-footer{
        width: 100px !important;
        height: 100px !important;
    }

    #comp-lpk2nmvb {
        opacity: 0.8;
    }

}

@media (min-width: 854px) and (max-width: 1024px) {
    #comp-lpk7ie2l {
        width: 100% !important;
        max-width: 75% !important;
    }
}*/
/*
@media screen and (min-width: 1440px) {
    #comp-lpk7ie2l {
        width: 100% !important;
        max-width: 70% !important;
    }

    .button-whats{
        margin-left: 0 !important;
    }

    h3.font_3.wixui-rich-text__text {
        font-size: 30px !important;
    }

    [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
        margin: 51px 0px 60px calc((100% - 366px)* 0.5) !important;
    }

    img.d-block {
        width: 40%;
        height: 1%;
    }
    [data-mesh-id=comp-lpq5rmg4inlineContent-gridContainer] > [id="comp-lpk7ie2l"] {
        margin: 1 !important;
        margin: 40px 0px 30px calc((100% - 1030px)* 0.5) !important;
    }

    .title-1{
        margin-left: 160px !important;
    }

  }*/
/*

  @media (max-width: 768px) and (max-height: 854px) {

    #comp-lpk7ie2l{
        width: 90% !important;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jnk23dtp"] {
        margin: 52px 0px 65px calc((100% - 800px)* 0.5) !important;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk324zg"] {
        margin: 120px 0px 43px calc((100% - 780px)* 0.5) !important;
        left: 65% !important;
        top: -20% !important;
        opacity: 0.5 !important;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jn4fg4j1"] {
        margin: 0 !important;
    }    

    [data-mesh-id="comp-lpk30biy-rotated-wrapper"] > [id="comp-lpk30biy"] {
        left: 560px !important;
        top: 150px !important;
        opacity: 0.5 !important;
    }

    #comp-lpk30biy {
        width: 580px !important;
        height: 400px !important;
    }

    .lifetime-access span {
        left: 0 !important;
    }

    [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq354l6"] {
        margin: 0 !important;
    }

    [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq36aq6"] {
        margin: 0 !important;
    }

    [data-mesh-id=comp-lrgofaaoinlineContent-gridContainer] > [id="comp-lrgofabt"] {
        margin: 0 !important;
    }

    [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xaq6"] {
        margin: 0 !important;
    }

    [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xas"] {
        margin: 0 !important;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jacinqk9"] {
        margin: 0 !important;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk2dyq1"] {
        left: -60% !important;
    }

    [data-mesh-id="comp-lpk2nmvb-rotated-wrapper"] > [id="comp-lpk2nmvb"] {
        /*left: -390px !important;*/
    /*    top: 100px !important;
    }
        
    #comp-lpk2h3of {
        left: -19% !important;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jncwu0q7"] {
        justify-self: normal !important;
    }

    div#comp-jnk23dtp {
        z-index: 1;
    }

    [data-mesh-id=comp-lpq24k58inlineContent-gridContainer] > [id="comp-lpq24kxi"] {
        margin: 0 !important;
        left: 0 !important;
    }

    img.d-block {
        margin-left: 25% !important;
    }

    h2.font_0.wixui-rich-text__text {
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }

    #comp-jn8ubdat {
        margin-left: 20% !important;
    }

    [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-lpk6z812"] {
        left: -20% !important;
    }
}*/

                    /*  Tela 280 x 653 */
/*
@media (min-width: 280px) and (max-width: 653px) {
    #comp-lpk324zg {
        display: none;
    }

    #comp-jn8ubdat {
        margin-left: 0 !important;
        justify-self: normal !important;
    }

    p.font_8.wixui-rich-text__text {
        margin-left: 0 !important;
    }

    #comp-lpk7ie2l {
        margin-left: 30%;
    }

    [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jnk23dtp"] {
        margin: 52px 0px 65px calc((100% - 780px)* 0.5) !important;
    }

}*/

@media (max-width: 2560px) {
        #comp-lpk7ie2l {
            width: 100% !important;
            max-width: 100% !important;
        }

        [data-mesh-id=comp-lpq5rmg4inlineContent-gridContainer] > [id="comp-lpk7ie2l"] {
            margin: 0 !important;
            left: 0 !important;
        }

        span.wixui-rich-text__text.title-1 {
            margin-left: 39rem !important;
            font-size: 50px !important;
        }

        .button-whats{
            margin-left: 0 !important;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
            margin: 50px 0px 44px calc((100% - 380px)* 0.5) !important;
        }

        img.d-block {
            margin-left: 42%;
            width: 50%;
            height: auto;
        }

        @media (max-width: 1440px) {
            span.wixui-rich-text__text.title-1{
                margin-left: 20rem !important;
                font-size: 30px !important;
            }
        }
        
    }

    @media (max-width: 820px) {
        span.wixui-rich-text__text.title-1 {
            margin-left: 8rem !important;
            font-size: 20px !important;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
            left: 0 !important;
        }

        .carousel-inner {
            width: 90% !important;
        }

        #comp-jncwu0q7 {
            margin: 8% !important;
        }

        #comp-lpk324zg, #comp-lpk30biy, #comp-lpk3at6l {
            display: none;
        }

        [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jn4fg4j1"] {
   
            margin: 5% !important;
            left: 0 !important;
        }

        #comp-lpq24kxi {
            width: 80% !important;
        }

        #comp-lrgofabt {
            max-width: 100%;
        }

        .video-container {
            margin-left: 6% !important;
        }

        :host(:not(.device-mobile-optimized)) .G5K6X8, body:not(.device-mobile-optimized) .G5K6X8 {
            width: 100% !important;
        }

        body:not(.responsive) #site-root {
            min-width: 100% !important;
        }

        #comp-lpq5rmfl{
            min-width: 100% !important;
        }

        .BmZ5pC {
            min-width: 100% !important;
        }

        :host(:not(.device-mobile-optimized)) .vlM3HR, body:not(.device-mobile-optimized) .vlM3HR {
            width: 100% !important;
        }

        [data-mesh-id="comp-lrgiigx9-rotated-wrapper"] > [id="comp-lrgiigx9"] {
            left: 700px !important;
        }

        [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jn8ubdat"] {
            left: 0 !important;
        }

        [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk2dyq1"] {
            left: -500px !important;
        }

        [data-mesh-id="comp-lpk2nmvb-rotated-wrapper"] > [id="comp-lpk2nmvb"] {
            left: -100px !important;
            top: 10px !important;
        }

        [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk2h3of"] {
            margin: -80px 0px 0px calc((100% - 580px)* 0.5) !important;
        }

        h3.font_3.wixui-rich-text__text {
            font-weight: bold;
        }

        [data-mesh-id=comp-lpq24k58inlineContent-gridContainer] > [id="comp-lpq24kxi"],
        [data-mesh-id=comp-lrgofaaoinlineContent-gridContainer] > [id="comp-lrgofabt"] {
            margin: 0 !important;
            left: 0 !important;
        }

        [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-lpk6z812"] {
            left: 12% !important;
        }

    }

    @media (max-width: 768px) {
        span.wixui-rich-text__text.title-1 {
            margin-left: 10rem !important;
            font-size: 25px !important;
        }

        #comp-lpq36aq6, #comp-lpq354l6, .title-acess {
            width: 80% !important;
            left: 0;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
            margin: 50px 0px 44px calc((100% - 580px)* 0.5) !important;
        }

        button.neon-button {
            margin-left: 15%;
            margin-right: 5%;
        }

        .video-container {
            margin-left: 15% !important;
        }
    }

    @media (max-width: 412px) {
        [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jacinqk9"] {
            left: 0 !important;
        }

        #comp-jacinqk9, #comp-jnk23dtp, #comp-jn4fg4j1 {
            width: 100% !important;
            max-width: 100% !important;
            margin: 0;
            left: 0;
        }

        button.neon-button.floating-button {
            width: 50% !important;
        }

        [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk2dyq1"] {
            left: -400px !important;
            opacity: 0.5;
        }

        [data-mesh-id=comp-lpk2nmvb-rotated-wrapper] {
            opacity: 0.5;
            margin: 0px 0px 10px calc((100% - 600px)* 0.5) !important;
        }

        [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-jn4fg4j1"] {
            margin: 0 !important;
        }

        #comp-lpjvz2hy {
            margin-top: 50px;
        }

        .lifetime-access span{
            top: -0.5em !important;
            padding: 10px !important;
            background-color: rgba(0, 0, 0, 0) !important;
            position: static !important;
            
        }

        #comp-lpq24kxi{
            width: 100% !important;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
            margin: 50px 0px 40px calc((100% - 450px)* 0.5) !important;
        }

        #comp-jn7v1d0n {
            max-width: 50% !important;
        }

        div#comp-lpq354l6, #comp-lpq36aq6 {
            left: 50%;
        }

        [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xaq6"] {
            margin: 40px 0px 40px calc((100% - 380px)* 0.5) !important;
            width: 90% !important;
        }

        [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xas"] {
            width: 90% !important;
            margin: 0px 0px 10px calc((100% - 380px)* 0.5) !important;
            left: 0 !important;
        }

        .card{
            width: 80% !important;
        }

        img.photo-5 {
            height: auto;
            width: 350px;
        }

        [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-lpk6z812"] {
            margin: 95px 0px 10px calc((100% - 500px)* 0.5) !important;
        }

        img.logo-footer {
            width: 70% !important;
            height: auto !important;
        }
    }


    @media (max-width: 360px) {
        :host(:not(.device-mobile-optimized)) .PFkO7r, body:not(.device-mobile-optimized) .PFkO7r {
            width: 100% !important;
        }

        #comp-jn7v1czg, #comp-jn7v1d0n {
            min-width: 100% !important;
        }

        #comp-jn8ubdat {
            margin-left: 10% !important;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq354l6"],
        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq36aq6"] {
            margin: 0px 0px 15px calc((100% - 630px)* 0.5) !important;
        }

        .title-acess {
            left: 10% !important;
            margin-left: 10%;
            margin-top: 10%;
        }

        button.neon-button {
            margin-left: 25%;
        }

        .button-whats {
            width: auto !important;
        }

        svg.bi.bi-caret-left-fill,
        svg.bi.bi-caret-right-fill {
            width: 20px;
            height: auto;
        }
    }

    @media (max-width: 280px) {
        #comp-lpk7ie2l {
            margin-left: -20% !important;
        }

        #comp-jn8ubdat {
            margin-left: 0 !important;
            max-width: 95%;
        }

        #comp-lpk6z812 {
            display: none;
        }

        [data-mesh-id=comp-lpq5rmg4inlineContent-gridContainer] > [id="comp-lpk7ie2l"] {
            left: 20% !important;
        }

        span.wixui-rich-text__text.title-1 {
            margin-left: 1rem !important;
            font-size: 15px !important;
        }

        span.wixui-rich-text__text.title-2,
        p.wixui-rich-text__text.title-2 {
            font-size: 30px !important;
            line-height: 1.0em;
        }

        button.neon-button.floating-button {
            font-size: 10px;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"] {
            margin: 50px 0px 40px calc((100% - 300px)* 0.5) !important;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq354l6"], 
        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq36aq6"] {
            margin: 0px 0px 15px calc((100% - 500px)* 0.5) !important;
        }

        button.neon-button {
            padding: 10px 20px;
            font-size: 10px;
        }

        [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xaq6"],
        [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xas"] {
            margin: 40px 0px 40px calc((100% - 250px)* 0.5) !important;
        }

        img.photo-5 {
            width: 250px;
        }

        .video-container iframe {
            height: auto !important;
        }

        .video-fanny{
            margin-bottom: 25% !important;
        }
    }


    @media (min-width: 375px) and (max-width: 667px) {
        span.wixui-rich-text__text.title-1 {
            margin-left: 1rem !important;
            font-size: 15px !important;
        }

        p.wixui-rich-text__text.title-2,
        span.wixui-rich-text__text.title-2 {
            font-size: 30px !important;
            line-height: 1.0em !important;
        }

        #comp-jn8ubdat {
            margin-left: 0 !important;
        }

        #comp-lpk6z812 {
            display: none;
        }
    }

    @media (min-width: 414px) and (max-width: 896px) {
        :host(:not(.device-mobile-optimized)) .PFkO7r, body:not(.device-mobile-optimized) .PFkO7r {
            width: 100% !important;
        }

        #comp-jnk23dtp {
            width: 100% !important;
        }

        #comp-jn4fg4j1 {
            width: 90% !important;
        }

        #comp-jn7v1czg {
            width: 100%;
            min-width: 80% !important;
        }

        #comp-lpk77xaq6, #comp-lpk77xas {
            width: 100% !important;
        }

        .card{
            width: 80% !important;
        }

        img.photo-5 {
            width: 400px;
        }

        #comp-jacinqk9 {
            width: 100% !important;
        }

        #comp-jnk23dtp {
            margin-left: -55%;
        }

        [data-mesh-id=comp-lpjvz2hxinlineContent-gridContainer] > [id="comp-lpk2dyq1"] {
            margin: 35px 0px -118px calc((100% - 680px)* 0.5) !important;
        }

        #comp-lpk2h3of {
            width: 320px !important;
            opacity: 0.5;
        }

        [data-mesh-id=comp-lpk2nmvb-rotated-wrapper] {
            margin: 50px 0px 10px calc((100% - 650px)* 0.5) !important;
            opacity: 0.5;
        }

        #comp-jn7v1czg {
            margin-top: 20% !important;
        }

        .lifetime-access span {
            top: 0 !important;
            padding: 0 !important;
        }

        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq35zm9"],
        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq354l6"],
        [data-mesh-id=comp-jn7v1d0ninlineContent-gridContainer] > [id="comp-lpq36aq6"],
        .title-acess  {
            margin: 5% !important;
        }

        button.neon-button {
            margin-left: 20%;
            border-radius: 40px;
        }

        button.neon-button.floating-button {
            width: 50% !important;
        }

        [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xaq6"],
        [data-mesh-id=comp-lpk77xalinlineContent-gridContainer] > [id="comp-lpk77xas"],
        [data-mesh-id=SITE_FOOTERinlineContent-gridContainer] > [id="comp-jacinqk9"] {
            margin: 1% !important;
            left: 0 !important;
        }
    }
    
    @media (min-width: 360px) and (max-width: 740px) {

        #comp-lpk6z812 {
            display: none;
        }

        button.neon-button.floating-button {
            font-size: 12px;
        }

        span.wixui-rich-text__text.title-1 {
            margin-left: 1rem !important;
            font-size: 15px !important;
        }

        p.wixui-rich-text__text.title-2,
        span.wixui-rich-text__text.title-2 {
            font-size: 30px !important;
            line-height: 1.0em !important;
        }
    }
    