.neon-button, .whatsapp-btn {
    background-color: #19b421;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    width: 50%;
    margin-bottom: 51px;
    margin-left: 25%;
    outline: none;
}

.neon-button:hover {
    /*top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;*/
    background: linear-gradient(45deg, #00ff00, #00ff33, #33ff00, #00ff00);
   /* background-size: 400%;
    z-index: -1;*/
    opacity: 1;
    transition: opacity 0.5s;
    border-radius: 20px;
    
    box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff33, 0 0 70px #33ff00;
    outline: none;
}

.neon-button:focus, .whatsapp-btn {
    outline: none !important;
}

.neon-button:hover:before {
    opacity: 1;
}

.title-acess{
    text-align: center;
    color: white;
    margin-bottom: 43px;
}

.title-acess h1{
    color: rgb(var(--color_18));
}

.course-price{
    font-size: 20px;
    color: #00ff00;
    font-family: cursive;
}

.video-container {
    position: relative;
    width: 70%;
    margin-left: 15%;
    height: 0;
    padding-bottom: 36.85%; /* Proporção 16:9 para o vídeo */
    margin-bottom: 35px; 
    margin-top: 5%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Start carrossel */

.carousel-container {
    position: relative;
    max-width: 50%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 31px;
}

.carousel-slide {
display: flex;
transition: transform 0.5s ease;
margin: 0; /* Removemos a margem para garantir que as imagens fiquem alinhadas corretamente */
}

.carousel-slide img {
width: 303px;
height: 348px;
margin-right: 20px; /* Adicionamos margem direita para as imagens */
}

/* Removemos a margem direita para a última imagem */
.carousel-slide img:last-child {
margin-right: 0;
}

.prevBtn, .nextBtn {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: none;
border: none;
cursor: pointer;
z-index: 1; /* Adicionamos uma propriedade z-index para garantir que os botões fiquem sobre as imagens */
}

#prevBtn {
left: 10px; /* Ajustamos a posição dos botões */
}

#nextBtn {
right: 10px; /* Ajustamos a posição dos botões */
}

.icon-next, .icon-prev {
width: 40px;
}

img.d-block{
margin-left: 30%;
margin-right: 30%;
margin-bottom: 5%;
}

svg.bi.bi-caret-right-fill, svg.bi.bi-caret-left-fill {
    color: #000;
}  

/* Finish carrosel */

footer#SITE_FOOTER_WRAPPER {
    border-top: 1.5px solid #d9e1e7;
}
  
span.subtitle {
    color: rgb(var(--color_58));
    font-weight: bold;
} 

.link-linha::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    height: 1px;
    font-weight: bold;
    border-bottom: 1px solid linear-gradient(45deg, #00ff00, #00ff33, #33ff00, #00ff00);;
    transition: 0.4s;
  }

  .link-linha:hover::after {
    width: 100%;
    left: 0;
    color: #00ff00;
  }

  a.link-linha:hover {
    color: #00ff00;
    transition: 0.4s;
    text-shadow: 0 0 10px #00ff00, 0 0 40px #00ff33, 0 0 70px #33ff00;
  }

  a.link-linha{
    text-align: center;
    padding: 3%;
    font-size: 20px;
    text-decoration: underline;
    color: green;
  }


/* Whatsapp button */

.whatsapp-icon {
    width: 20px; /* Largura do ícone */
    height: 20px; /* Altura do ícone */
    vertical-align: middle; /* Alinha o ícone verticalmente */
    margin-right: 5px; /* Margem à direita do ícone */
    border: 1px solid #fff;
}


/* end whatsapp button*/



@keyframes neon-effect {
    0% {
      /*  top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;*/
    }
    100% {
        /*top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;*/
        background: linear-gradient(45deg, #00ff00, #00ff33, #33ff00, #00ff00);
      /*  background-size: 400%;
        z-index: -1;*/
        opacity: 1;
        border-radius: 20px;
        box-shadow: 0 0 10px #00ff00, 0 0 40px #00ff33, 0 0 70px #33ff00;
    }
}

.neon-effect {
    animation: neon-effect 0.5s forwards;
}

.floating-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
